@import "tailwindcss";
@font-face {
  font-family: Pixelfy-Sans;
  src: url("./assets/PixelifySans.ttf");
}
* {
  box-sizing: border-box;
}
body {
  font-family: Pixelfy-Sans;
  margin: 0;
  font-size: larger;
  background-color: #555;
  background-image: url("./assets/techy.webp");
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
}
.container {
  /*margin: 1rem;*/
  text-align: center;
}
.pic_container {
  display: flex;
  flex-direction: row; /* side by side */
  align-items: center; /* vertically center image and text */
  justify-content: space-between; /* space between text and image */
  gap: 20px; /* space between text and image */
  padding: 10px;
  width: 100%;
}
.pic {
  object-fit: cover;

  align-items: center;

  float: center;
  height: 50%;
  width: 50vh;
  padding: 20px;
  border: #555 1px 1px;
}
.text {
  flex: 1;
  flex-direction: row;
  text-align: center;
  float: center;
  color: white;
  align-items: right;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.25);
  margin-top: 20px;
}
.righttext {
  float: right;
  text-align: right;
  align-items: right;
  flex: 1;
  color: white;
  border: 2px solid #333;
  background-color: #333;
}
.nav {
  box-sizing: border-box;
  background-color: black;
  opacity: 0.5;
  border-radius: 10px;
  margin-top: 7px;
  background-size: 100% 100%;

  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}
.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}
.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;

  gap: 1rem;
}
.nav li.active {
  background-color: #555;
}
.nav li.hover {
  background-color: #777;
}
.first {
  font-size: larger;
  font-weight: bolder;
  color: white;
  margin-top: 20px;
}
.list {
  color: white;
  float: center;
  font-weight: bolder;
  margin-top: 20px;
  text-align: center;
}
.special {
  color: white;
}
